.auth-header {
  width: 100%;
  padding: 50px 0; }
  .auth-header .logo {
    width: 300px;
    display: block;
    margin: auto; }

.login-form-container,
.signup-form-container {
  width: auto; }

.auth-form {
  display: block;
  margin-top: 100px;
  width: auto;
  max-width: 800px;
  height: 1000px;
  margin-left: 40px;
  float: right;
  position: relative;
  left: -25%;
}

.auth-link {
  margin-left: 5px; }


/* input {
  width: 20px;
} */

.title-input {
  /* width: 20px !important; */
  margin-right: 10px;
}

.test-case-input {
  /* position:absolute; 
  bottom:0; */
}